@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Lato', sans-serif;
}
.outer{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left,red, blue);
}
.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 53%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background-color: #ffffff33;
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 4px 6px 57px #2773a5; ;
    z-index: 2;

}
.signup h1{
    color: #212121;
    font-size: 2.5rem;
}
.signup p{
    font-size: 0.9rem;
    color: rgb(63, 57, 57);
}
.signup-body{
    margin: 20px 0;
}
.signup-body p{
    margin: 10px 0;
}
.signup-body p label{
    display:block;
    font-weight: bold;
}
.signup-body p input{
    width: 100%;
    padding: 10px;
    border:2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin: 4px;

}
.signup-body p input[type="submit"]{
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;

}
.signup-body p input[type="submit"]:hover{
  background-color: #2773a5;

}
.signup-footer{
    color:#555;
    text-align: center;
}
.signup-footer{
    color: #2773a5;
}
.circle{
    width: 132px;
    height: 128px;
    border-radius: 100px;
    background: linear-gradient(to right, #ffffff33,#ffffff);
    position: absolute;
}
.c1{
    top: 24px;
    bottom: 40px;
    left: 33px;
}
.c2{
    bottom: 2px;
    right:50px;
    
}
a{
    list-style: none;
    text-decoration: none;
    color:aqua;
}
@media screen and (max-width:479px){

   .outer{
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(to top left,red, blue);
    }
    .inner-box{
        width: 100vw;
        margin: 0 auto;
        position: relative;
        top: 53%;
        transform: translateY(-50%);
        padding: 20px 40px;
        background-color: #ffffff33;
        backdrop-filter: blur(8px);
        border-radius: 8px;
        box-shadow: 4px 6px 57px #2773a5; ;
        z-index: 2;
    
    }
    .signup-footer{
        display: flex;
        flex-direction: column;
    }
}
